html {
    max-width: 500px;
}

h1 {
    font-family: 'Chilanka', cursive;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    padding: auto;
    width: 100%;
    margin-top: 25px;
}

h2 {
    font-family: 'Chilanka', cursive;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    padding: auto;
    width: 100%;
    margin-top: 25px;
}

h4 {
    font-family: 'Chilanka', cursive;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    padding: auto;
    width: 100%;
    margin-top: 25px; 
}

.btn {
    display: flex;
    justify-content: center;
    margin: 0px auto;
    padding: auto;
    width: 100%;
    
}


/* h2 {
    font-family: 'Permanent Marker', cursive; */
}

header .brand h2 {
    font-family: 'Chilanka', cursive;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
    padding: auto;
    margin-top: 20px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    margin: 0px auto;
    padding: auto;
    width: 100%;
    font-size: 18px;
    text-decoration: none;
}
.container-home {
    display: flex;
    margin: 0px auto;
    padding: auto;
    width: 500px;
    height: 100%;
    flex-flow: column wrap;
}

img {
    display: flex;
    width: 100%;
    margin: 10px 10px;
    padding: auto;
}
.banner img {
    width: 500px;
    margin: 0px auto;
    padding: auto;
    
}

.line {
    border-bottom: 2px dashed gray;
}

@media(min-width: 500px){

}
