nav {
    width: 500px;
    margin: 10px 10px;
    padding: auto;
    display: flex;
    justify-content: space-between;
    background-color: green;
    font-family: 'Francois One', sans-serif 'Noto Serif KR', serif; 
}