
// Color assignments 
@font: @shark;
@button-bgc: @eastern-blue;
@main-bgc:  @white;
@navigation-border: @silver;
@footer-bg: @sandy-beach;

// Colors
@white: #FFFFFF;
@silver: #C0C0C0;
@shark: #212529;
@eastern-blue: #17A2B8;
@sandy-beach: #FFEBCD;

@mobile {
    @media display(max-width:500px){};
}
//nav-flex mixin
@nav-bar {
    display:flex;
    flex-direction:start;
    justify-content:space-between;
    align-items:baseline;
    width:80%;
    margin:0px auto;
    padding:auto;

}